---
layout: layouts/base.njk
title: Junior Form Function & Class 2020
--- 
<main>
    <div class="hero">
        <div class="hero-title">
            <h1>Breakthrough Boundaries</h1>
            <p>Junior Form Function & Class 2020</p>
        </div>
        <div class="hero-subtitle">
            <h2>Join the premier student web design conference in Asia.</h2>
            <p>July 4, 2020</p>
            <p>Venue TBA</p>
        </div>
        <div class="hero-CTA">
            <button class="buy-tickets-large">Buy Tickets</button>
        </div>
    </div>
    <div id="#about-jffc" class="about-jffc">
        <div class="top-section">
            <div class="pull-left">
                <h3>Gathering students with passion for the web</h3>
                <p>Junior Form Function & Class (JFFC) is an annual 2-day event and is Asia’s premiere student web design conference providing opportunities and learning experiences which help students develop their design skills further. <br/> JFFC derives from Form Function & Class (FFC), an annual event by the Philippine Web Designers Organization (PWDO), with the goal of uplifting the state of web design in the country.</p>
            </div>
            <div class="pull-right">
                <!-- image -->
            </div>
        </div>
        <div class="bottom-section">
            <div class="pull-left">
                <!-- image -->
            </div>
            <div class="pull-right">
                <h3>Enabling Students to be break through boundaries with the Web</h3>
                <p>An event to unite the youth and prepare them of what’s ahead. Junior Form Function and Class, this 2020, envisions students to be “Future-forward” - enabling them to be the future leaders of the Web. <br/> This year, JFFC is organised by the User Experience Society - DLSU with the support of the Philippine Web Designers Organization.</p>
            </div>
        </div>
    </div>
    <div id="#speakers" class="speakers">
        <div class="speakers-header">
            <h1>Our speakers</h1>
            <h2>2020's Web Enablers of the Youth</h2>
        </div>
        <div class="speakers-main">
            <p>Junior Form Function & Class 2020's Web Enablers of the Youth will be announced soon. Stay tuned for our announcements!</p>
        </div>
    </div>
    <div id="#faq" class="faq">
        <div class="faq-header">
            <h1>Frequently Asked Questions</h1>
            <h2>What do you need to know?</h2>
        </div>
        <div class="faq-main">
            <div class="faq-1">
                <h3>Is this event for students only?</h3>
                <p>YES. Junior Form Function & Class is only for students. For industry professionals, there is FFC organised by the Philippine Web Designers Organization. JFFC is organized by User Experience Society - DLSU with support from the Philippine Web Designers Organization.</p>
            </div>
            <div class="faq-2">
                <h3>How can I pay for my tickets?</h3>
                <p>You can buy your tickets using PayPal/Credit/Debit Cards through Eventbrite and using Cash (PHP) through our Campus Ambassadors.</p>
            </div>
            <div class="faq-3">
                <h3>Where can I find Campus Ambassadors?</h3>
                <p>We are still in talks with different school orgs to identify potential Campus Ambassadors. We will announce them soon!</p>
            </div>
            <div class="faq-4">
                <h3>Are tickets refundable?</h3>
                <p>All ticket sales are considered final. However, tickets are transferable provided that the person you will transfer the ticket to is also a student. <br/> Please send us an email at jffcasia@pwdo.org with the name, contact details, and the school of the person you wish to transfer the ticket to, along with reference number of the Eventbrite transaction.</p>
            </div>
            <div class="faq-cta">
                <h2>Didn't find the answer to your question? Drop us a line at <b>jffcasia@pwdo.org</b>!</h2>
            </div>
        </div>
    </div>
    <div id="#sponsors" class="sponsors">
        <div class="sponsors-header">
            <h1>Sponsors</h1>
            <h2>Junior Form Function & Class 2020 is brought to you by</h2>
        </div>
        <div class="sponsors-main">
        </div>
        <div class="sponsors-cta">
            <p>Interested in partnering with us? Browse our <b>partnership primer</b> or contact us at <b>jffcasia@pwdo.org</b></p>
        </div>
    </div>
    <div id="#call-to-action" class="call-to-action">
        <div class="pull-left">
            <h3>Prepared to be <b>future-ready</b>?</h3>
        </div>
        <div class="pull-right">
            <button class="buy-tickets-large">Buy Tickets</button>
        </div>
    </div>
</main>
