@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    background-color: #333338;
    color: #fdfdfd;
    font-family: 'Inter';
}

.site-header {
    display: flex;
    align-items: center;
}

.header-logo {
    flex: 0;
    padding: 0 40px;
}

.header-middle {
    flex: 1;
}

.header-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-item {
    padding: 30px 25px;
    font-size: 18px;
}

.header-right {
    padding: 30px 40px;
}

.buy-button-small {
    background-color: #C73041;
    border-style: none;
    color: #fdfdfd;
    text-transform: uppercase;
    padding: 12px 40px;
    line-height: 26px;
    font-size: 18px;
}