@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Work+Sans:300,400,700&display=swap');

body {
    background-color: #333338;
    color: #fdfdfd;
    font-family: 'Work Sans';
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-header {
    display: flex;
    align-items: center;
    margin: 0;
    height: 90px;
    position: fixed;
    width: 100%;
    background: rgba(51, 51, 56, 0.95);
    backdrop-filter: blur(4px);
}

.header-logo {
    flex: 0;
    padding: 0 40px;
}

.header-middle {
    flex: 1;
}

.header-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-item {
    padding: 30px 25px;
    font-size: 18px;
}

.header-right {
    padding: 30px 40px;
}

.buy-button-small {
    background-color: #C73041;
    border-style: none;
    color: #fdfdfd;
    text-transform: uppercase;
    font-family: 'Quicksand';
    padding: 12px 40px;
    line-height: 26px;
    font-size: 18px;
    box-shadow: 0px 10px 20px rgba(199, 48, 65, 0.21);
}

.footer {
    display: flex;
    background: #19181A;
    height: 230px;
    align-items: center;
}

.footer-logo {
    flex: 0;
    padding: 0 80px;
    flex-grow: 1;
}

.footer-copy {
    flex: 1;
    text-align: right;
    padding-right: 80px;
    font-weight: 600px;
}